<a href="https://colab.research.google.com/github/hirenpatel-ds/Assignments/blob/main/list_Assignment_Introduction_to_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u>While doing this assignment only use those concepts which have been taught till now</u>

## <u>Problem 1</u>

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [ ]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output 
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [ ]:
# Store the highest temperature
max_temp = max(temperatures)

# Index of the element with the highest temperature
max_temp_index = temperatures.index(max_temp)

In [ ]:
# Store the lowest temperature 
min_temp = min(temperatures)

# Index of the element with the lowest temperature
min_temp_index = temperatures.index(min_temp)

In [ ]:
# Swap the highest and the lowest temperatures
#min_temp[min_temp_index] = max_temp[max_temp_index]
#max_temp[max_temp_index] = min_temp[min_temp_index]

temperatures[min_temp_index] , temperatures[max_temp_index] = temperatures[max_temp_index], temperatures[min_temp_index]
# here in this problem we need to swap highest number and lowest number
# for that we need index numbers of highest number and lowest number.
# we can get it by the method index()
# after that, assign max index to minimum and min to max vice versa

In [ ]:
# Print the output list
temperatures

[34, 40, 42, 33, 29, 37, 39]


## <u>Problem 2 </u>

### Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ elements

In [ ]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [ ]:
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
mean_price =  sum(prod_price_list)/ len(prod_price_list)
# to get total of all elements I've used sum method and to count no of elements I've used len() 
# / operator will perform division and we can get our desired output
print(mean_price)

1975.0

### Calculate the median price

In [ ]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
sorted_prices = sorted(prod_price_list)
print(sorted_prices)

[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

In [ ]:
# Check if the number of elements in the list is even or odd
len(sorted_prices)  ## It is even

10

In [ ]:
n = int((len(sorted_prices) / 2) -1) ## dividing list into 2 parts

In [ ]:
sum_of_medians = sorted_prices[n] + sorted_prices[(n+1)] # as per formula adding (n/2) + (n/2+1)

In [ ]:
# Use the corresponding formula to calculate the median and print the median
median_price = sum_of_medians / 2
print(median_price)

575.0

In [ ]:
# Check which is greater, mean or median
check = mean_price > median_price
print(f'It is {check} that mean is greater median ')

It is True that mean is greater median

### Why do you think that is the case??

### <u>Write your explanation in this text cell</u>

Your explanation :

## <u> Problem 3 </u>

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [ ]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [ ]:
popped_item = tech_companies.pop(-1)

In [ ]:
# Write your code below
tech_companies.extend(popped_item)

In [ ]:
tech_companies

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

In [ ]:
# Do the same task another way
# The another approach is simple. we just need to seprate both lists and concate them.
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]
t1 = tech_companies[0:3]  #seperating the list in 2 parts t1 and t2
t2 = tech_companies[3]

In [ ]:
t1 + t2   # concating t1 and t2

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']